.movies {
  padding-top: 65px;
  width: 100%;
  margin: auto;
}

.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 60px 30px;
  grid-template-rows: auto;
  min-height: 490px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    padding-top: 35px;
    min-height: 716px;
  }

  .movies__list {
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
  }
}
