.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  margin: 246px 0 0;
}

.not-found__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 5px 0 184px;
}

.not-found__back{
color: #4285F4;
font-size: 14px;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .not-found__title {
    margin-top: 408px;
  }
  .not-found__back{
    margin-bottom: 222px;
    }
}

@media screen and (max-width: 767px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 284px;
  }
}
@media screen and (max-width: 767px) {
  .not-found__title {
    margin-top: 329px;
  }
  .not-found__back{
    margin-bottom: 30px;
    }
  
}