.header {
  padding: 18px 70px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 18px 30px;
  }

  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}
