/* .header {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px 33px 40px;
  margin: auto;
}

.header_type_logged-in {
padding-left: 70px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px 19px;
  }
} */
.header {
  padding: 18px 70px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
  opacity: .8;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 18px 30px;
  }

  .header__container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}